<%= render 'partials/flash' %>

<div class="container-fluid">
  <div class="row">
    <%= render 'nav', active: 'logs' %>
  </div>

  <div class="row">
    <div class="container-fluid" style="padding-top: 20px; max-width: 800px;">
    AUDIT
    </div>
  </div>
</div>
