<%= render 'partials/flash' %>

<div class="container-fluid" style="padding-top: 30px; max-width: 1200px;">
  <div class="card">
  <div class="card-header">
    Events
  </div>
  <ul class="list-group list-group-flush">
    <% @events.each do |event| %>
      <li class="list-group-item">
        <code><%= event.name %></code>
        <br>
        <pre><code><%= JSON.pretty_generate(event.params) %></code></pre>
      </li>
    <% end %>
  </ul>
  </div>
</div>
